/*
*VARIABLES
*/
:root{
    /* FONTS VARIABLES */
    --font: 'Quicksand', sans-serif;

}

/*
*NORMALIZE
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}

/*
*BODY
*/
body{
    font-size: 1.4rem;
    font-family: var(--font);
}

/*
*IMGS
*/
.img--large{
    width: 100%;
    height: 100%;
}
.border-left{
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.radius-100{
    border-radius: 100%;
}
.border__bottom{
    border-bottom: 1px solid black;
}

/*
*HEADER
*/
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 1rem;
}
.header__brand{
    width: 30%;
    height: 100%;
    max-width: 160px;
}
.header__brand__figure{
    height: 100%;
    width: 100%;
}
.header__nav{
    width: 70%;
}
.header__nav__ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-between;
}
.header__nav__ul__li__a{
    color: black;
    text-decoration: none;
}


/*
*ARTICLE 1
*/
.article--1{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%
}
.article--1__figure{
    background-image: url("https://images.pexels.com/photos/205961/pexels-photo-205961.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
    grid-row: 1;
    grid-column: 1;
}
.article--1__text{
    grid-row: 1;
    grid-column: 1;
    width: 90%;
    background-color: rgba(78, 78, 78, 0.74);
    justify-self: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 1.5rem;
    padding: 0 1rem;
}
.article--1__text h1{
    font-size: 2rem;
    font-weight: bolder;
}
.article--1__text button{
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 1rem;
}

/*
*ARTICLE 2
*/
.article--2{
    height: max-content;
    padding: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.article--2__container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    gap: 4rem;
    padding: 2rem 0;
}
.article--2__container__card{
    width: 75%;
    height: 300px;
    background-color: bisque;
    padding-bottom: 1rem;
    border-radius: 1rem;
}
.article--2__container__card__figure{
    width: 100%;
    height: 60%;
}
.article--2__container__card__text{
    height: 40%;
    display: grid;
    align-items: center;
    text-align: center;
}
.article--2__container__card__text button{
    width: 50%;
    justify-self: center;
    height: 27px;
    border: none;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: brown;
}

/*
*ARTICLE 2
*/
.article--3{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
.article--3__container{
    display: grid;
    justify-items: center;
    padding: 2rem 0;
    gap: 3rem;
}
.article--3__container__card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: transparent;
    gap: 1rem;
    height: 140px;
    border-radius: 1rem;
}
.article--3__container__card__figure{
    height: 100%;
    width: 60%;
}
.article--3__container__card__title{
    height: 100%;
    width: 40%;
    display: grid;
    place-content: center;
}

/*
*ARTICLE 4
*/
.article--4{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}
.article--4__address{
    display: grid;
    align-content: center;
    gap: 1.5rem;
}
.article--4__address__title{
    padding-left: 1.4rem;
}
.article--4__address__map{
    width: 90%;
    justify-self: center;
    height: 200px;
    border: none;
}
.article--4__contacto{
    width: 100%;
    display: grid;
    text-align: start;
    gap: 1.5rem;
}
.article--4__contacto__title{
    padding-left: 1.4rem;
}
.article--4__contacto__container{
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.article--4__contacto__container__card{
    display: grid;
    gap: 1rem;
    padding-bottom: 2rem;
}
.article--4__contacto__container__card__title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.article--4__contacto__container__card__link{
    color: black;
    text-decoration: none;
}

/*
*FOOTER
*/
footer{
    background-color: grey;
    display: flex;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding: 2rem;
}
.footer__figure{
    grid-row: 1/3;
    grid-column: 1;
    border-radius: 100%;
}
.footer__address{
    display: grid;
    place-content: center;
}
.footer__container{
    display: grid;
    align-content: start;
    gap: 1rem;
}
.footer__container__link{
    color: black;
    text-decoration: none;
}